package funks

import (
  "log"

  "github.com/mikehelmick/play/pkg/{{.InType.Path}}"
)

func Funk{{.FunkName}}(id, source, subject, eventType string, event *{{.InType.LastPart}}.{{.InType.UpCaseTypeName}}) error {
  log.Printf("Received event of type %s with content %v", eventType, event)
  // TODO(you) Do something to handle the event.
	return nil
}
